{% extends 'base.html' %}

{% block main %}

<div class="container d-flex align-items-center justify-content-center">

	<div class="right-side ms-4 p-4" style="max-width:400px;margin: 0 auto;">
		<h1>Plan your trip</h1>
<form action="#" method="POST">

	<div class="mb-3">
	<label for="destination" class="form-label">Destination</label>
	<input type="text" class="form-control" id="destination" name="destination"/>
	</div>

	<div class="mb-3">
	<label for="date" class="form-label">Travel Date</label>
	<input type="date" class="form-control" id="date" name="date"/>
	</div>

	<button type="submit" class="btn btn-primary w-100">Book now</button>

</form>
	</div></div>

{% endblock main %}
